{% extends 'base.html.twig' %}

{% block title %}Rôle{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Détails du Rôle</h1>

        <div class="card mt-4">
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td>{{ role.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ role.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ path('app_role_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <a href="{{ path('app_role_edit', {'id': role.id}) }}" class="btn btn-warning">Modifier</a>
            {{ include('role/_delete_form.html.twig', {'class': 'btn btn-danger'}) }}
        </div>
    </div>
{% endblock %}
