{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ article.titre }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ article.contenu }}</td>
        </tr>
        </tbody>
    </table>

    <h4>Commentaires</h4>
    {{ form_start(comment_form) }}
    <div class="form-group">
        {{ form_label(comment_form.commentaire) }}
        {{ form_widget(comment_form.commentaire, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(comment_form) }}

    <a href="{{ path('app_article_index') }}">Retour à la liste</a>
{% endblock %}
